
  <%- include('includes/head') %>
  <%- include('includes/nav') %>
   <div class="container">
     <dis class="row">

       <%- include('includes/messages') %>
       <div class="col-lg-8 my-3">
        <h1 class="display-1 text-center">Olá <%= user.nome %> </h1>
       </div>

     </dis>
   </div>
    
  <%- include('includes/footer') %>
